@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="margin-top:300px;">
    <h1 class="display-4 bungee-spice-regular">Welcome</h1>
    <h1 class="display-4 bungee-spice-regular">To</h1>
    <h1 class="bungee-spice-regular cursor typewriter-animation" style="font-size:xxx-large">Brain Box</h1>
    <form method="post" asp-page-handler="RedirectToPage">
    <button class="btn btn-danger mt-5">Get Started</button>
    </form>
</div>
